.cm {
    position: relative;
    height: 100%;
}

.cm .cm-editor {
    display: grid;
    height: 100%;
}

.cm .cm-editor .CodeMirror {
    overflow: scroll;
    height: auto !important;
}

.cm.cm-expanded .cm-editor .CodeMirror {
    height: auto !important;
}

.cm.cm-expanded .cm-expand {
    display: none;
}

.cm .cm-expand {
    z-index: 2;
    position: absolute;
    background: none;
    border: none;
    color: #4a4a4a;
    cursor: pointer;
    font-size: 0.625rem;
    outline: none;
    padding-bottom: 0;
    padding-top: 0;
    right: 0px;
    bottom: 0rem;
    height: 25px;
    width: 50px;
}

.cm .cm-expand:hover {
    border-radius: 20px 0px 0px 0px;
    box-shadow: 0 0 0 1px #ffa171;
    background-color: #ffa171;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    color: rgba(0, 0, 0, 0.7);
}

.cm .cm-expand:active {
    box-shadow: none;
}

.cm .cm-expand-active .CodeMirror {
    height: 100%;
    width: 100%;
}

.cm .cm-copy {
    z-index: 2;
    position: absolute;
    background: none;
    border: none;
    color: #4a4a4a;
    cursor: pointer;
    font-size: 0.625rem;
    outline: none;
    padding-bottom: 0;
    padding-top: 0;
    right: 0rem;
    top: 0rem;
    height: 25px;
    width: 50px;
}

.cm .cm-copy:hover {
    border-radius: 0px 0px 0px 20px;
    box-shadow: 0 0 0 1px #ffa171;
    background-color: #ffa171;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    color: rgba(0, 0, 0, 0.7);
}

.cm .cm-copy:active {
    box-shadow: none;
}

.cm .cm-editor.cm-is-hovering {
    border-radius: 1px;
    box-shadow: 0 0 0 1px #ffa171;
}


