.b-grid {
    height: 500px;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
    overflow: auto;
}

.b-grid-table {
    margin: 0px;
}

.b-grid-pagination .pagination {
    border-radius: 1px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    background-color: white;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0px;
}

.b-grid-pagination .pagination li {
    list-style: none;
    margin-top: 0px /**/;
}

.b-grid-pagination .pagination-list {
    margin-top: 0px;
}

.b-grid-header {
    background-color: #B6C7D1;
}

.b-grid-header-cell {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.b-grid-body {

}

.b-grid-row {

}

.b-grid-row-cell {

}

.b-grid-row-single {
    background-color: lightyellow;
}

.b-grid-row-pair {
    background-color: whitesmoke;
}

.b-grid-row-pair {

}
