.modal-background {
    position: relative;
    width: 100%;
    height: 100%;
}

.modal-close {
    background: none;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
}