html, body {
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background: white;
  overflow: hidden;
}


body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.main-content {
  position: absolute;
  height: 95%;
  left: 0;
  right: 0;
  margin-top: 52px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.is-link {
  background-color: #3273dc;
  color: #fff;
}

.is-first-tab-is-not-active a{
  color: #fff!important;
}

.is-first-tab-is-not-active a:hover {
  background-color: rgba(10, 10, 10, 0.1)!important;
}