.snppt {
  border: 1px solid #ffdd57;
  margin-top: 2rem;
  position: relative;
  padding: 0;
}

.snppt:before {
  background: #ffdd57;
  border-radius: 3px 3px 0 0;
  bottom: 100%;
  color: rgba(0, 0, 0, 0.7);
  content: "Example";
  display: inline-block;
  font-size: 7px;
  font-weight: bold;
  left: -1px;
  letter-spacing: 1px;
  padding: 3px 5px;
  position: absolute;
  text-transform: uppercase;
  vertical-align: top;
}

.snppt:before {
  content: "Snippet";
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.snppt-preview {
  padding: 15px;
  display: block;
  width: 100%;
}

.snppt-highlight {
  padding: 0;
  display: block;
  width: 100%;
}

.snppt-borderless {
  border: none;
}

.snppt-borderless
.snppt-preview {
  padding: 15px 0;
}

.snppt-borderless:before {
  display: none;
}
.snppt-slices {
  display: flex;
  padding-right: 15px;
}

.snppt-slices .snppt-preview,
.snppt-slices .snppt-highlight  {
  display: inline-block;
  max-width: 50%;
  vertical-align: top;
}

.snppt a, input, button, {
  margin: 2px;
}

.snppt ul {
  list-style: none !important;
}